<section class="section section-catalog" id="catalog">
     <div class="container">
          <h2 class="catalog-title title">Catalog</h2>
          <ul class="catalog-list">
               <li class="catalog-card" tabindex="0">
                         <div class="catalog-card-inner">
                              <div class="catalog-card-front">
                                   <picture class="catalog-picture">
                                        <source media="(min-width: 1280px)"
                                             srcset="/img/catalog/catalog_1_desk-min.png 1x, /img/catalog/catalog_1_desk@2x-min.png 2x" />
                                   
                                        <source media="(min-width: 768px)"
                                             srcset="/img/catalog/catalog_1_tab-min.png 1x, /img/catalog/catalog_1_tab@2x-min.png 2x" />
                                   
                                        <source media="(max-width:767px)"
                                             srcset="/img/catalog/catalog_1_mob-min.png 1x, /img/catalog/catalog_1_mob@2x.png 2x" />
                                   
                                        <img src="/img/catalog/catalog_1_desk-min.png" alt="Garmin Marq Athlete " width="304" class="catalog-img" />
                                   </picture>
                                   <div class="catalog-bottom">
                                        <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
                                        <p class="catalog-text">€500</p>
                                   </div>
                              </div>
                              <div class="catalog-card-back">
                                   <p class="catalog-description">
                                        A reliable multisport GPS smartwatch with solar charging and a rugged design, perfect for extreme adventures and
                                        everyday use.
                                   </p>
                              </div>
                         </div>
               </li>
               <li class="catalog-card" tabindex="0">
                         <div class="catalog-card-inner">
                              <div class="catalog-card-front">
                                   <picture class="catalog-picture">
                                        <source media="(min-width: 1280px)"
                                             srcset="/img/catalog/catalog_2_desk-min.png 1x, /img/catalog/catalog_2_desk@2x-min.png 2x" />
                    
                                        <source media="(min-width: 768px)"
                                             srcset="/img/catalog/catalog_2_tab-min.png 1x, /img/catalog/catalog_2_tab@2x-min.png 2x" />
                    
                                        <source media="(max-width:767px)"
                                             srcset="/img/catalog/catalog_2_mob-min.png 1x, /img/catalog/catalog_2_mob@2x-min.png 2x" />
                    
                                        <img src="/img/catalog/catalog_2_desk-min.png" alt="Garmin Marq Athlete " width="304"
                                             class="catalog-img" />
                                   </picture>
                                   <div class="catalog-bottom">
                                        <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
                                        <p class="catalog-text">€450</p>
                                   </div>
                              </div>
                              <div class="catalog-card-back">
                                   <p class="catalog-description">
                                        The ultimate tool watch for peak performance. The MARQ Athlete combines a premium titanium build with cutting-edge
                                        performance metrics. With VO2 max tracking, recovery time advisor, real-time stamina insights, and multi-GNSS
                                        navigation, this luxury smartwatch is designed for those who demand excellence — both in training and in style.
                                   </p>
                              </div>
                         </div>
               </li>
               <li class="catalog-card" tabindex="0">
                    <div class="catalog-card-inner">
                         <div class="catalog-card-front">
                              <picture class="catalog-picture">
                                   <source media="(min-width: 1280px)"
                                        srcset="/img/catalog/catalog_3_desk-min.png 1x, /img/catalog/catalog_3_desk@2x-min.png 2x" />
               
                                   <source media="(min-width: 768px)"
                                        srcset="/img/catalog/catalog_3_tab-min.png 1x, /img/catalog/catalog_3_tab@2x-min.png 2x" />
               
                                   <source media="(max-width:767px)"
                                        srcset="/img/catalog/catalog_3_mob-min.png 1x, /img/catalog/catalog_3_mob@2x-min.png 2x" />
               
                                   <img src="/img/catalog/catalog_3_desk-min.png" alt="Garmin Marq Athlete " width="304"
                                        class="catalog-img" />
                              </picture>
                              <div class="catalog-bottom">
                                   <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
                                   <p class="catalog-text">€680</p>
                              </div>
                         </div>
                         <div class="catalog-card-back">
                              <p class="catalog-description">
                                   Dive into adventure with the Garmin Descent Mk1 — your all-in-one dive computer and smartwatch. Featuring GPS surface
                                   navigation, multiple dive modes (including single and multi-gas), and an easy-to-read color display, it’s perfect for
                                   recreational and technical divers. Above the surface, enjoy full smartwatch features and fitness tracking.
                              </p>
                         </div>
                    </div>
               </li>
               <li class="catalog-card" tabindex="0">
                         <div class="catalog-card-inner">
                              <div class="catalog-card-front">
                                   <picture class="catalog-picture">
                                        <source media="(min-width: 1280px)"
                                             srcset="/img/catalog/catalog_4_desk-min.png 1x, /img/catalog/catalog_4_desk@2x-min.png 2x" />
                    
                                        <source media="(min-width: 768px)"
                                             srcset="/img/catalog/catalog_4_tab-min.png 1x, /img/catalog/catalog_4_tab@2x-min.png 2x" />
                    
                                        <source media="(max-width:767px)"
                                             srcset="/img/catalog/catalog_4_mob-min.png 1x, /img/catalog/catalog_4_mob@2x-min.png 2x" />
                    
                                        <img src="/img/catalog/catalog_4_desk-min.png" alt="Garmin Marq Athlete " width="304"
                                             class="catalog-img" />
                                   </picture>
                                   <div class="catalog-bottom">
                                        <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
                                        <p class="catalog-text">€380</p>
                                   </div>
                              </div>
                              <div class="catalog-card-back">
                                   <p class="catalog-description">
                                        Elevate your flight experience with the Garmin D2 Delta PX. Designed specifically for pilots, this premium aviator watch
                                        includes a built-in pulse oximeter, NEXRAD weather radar, flight logging, and customizable alerts. Its elegant yet
                                        rugged design pairs seamlessly with both the cockpit and everyday life.

                                   </p>
                              </div>
                         </div>
               </li>
               <li class="catalog-card item-hidden" tabindex="0">
                         <div class="catalog-card-inner">
                              <div class="catalog-card-front">
                                   <picture class="catalog-picture">
                                        <source media="(min-width: 1280px)"
                                             srcset="/img/catalog/catalog_5_desk-min.png 1x, /img/catalog/catalog_5_desk@2x-min.png 2x" />
                    
                                        <source media="(min-width: 768px)"
                                             srcset="/img/catalog/catalog_5_tab-min.png 1x, /img/catalog/catalog_5_tab@2x-min.png 2x" />
                    
                                        <source media="(max-width:767px)"
                                             srcset="/img/catalog/catalog_5_mob-min.png 1x, /img/catalog/catalog_5_mob@2x-min.png 2x" />
                    
                                        <img src="/img/catalog/catalog_5_desk-min.png" alt="Garmin Marq Athlete " width="304"
                                             class="catalog-img" />
                                   </picture>
                                   <div class="catalog-bottom">
                                        <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
                                        <p class="catalog-text">€400</p>
                                   </div>
                              </div>
                              <div class="catalog-card-back">
                                   <p class="catalog-description">
                                        Power your performance with the sun. The Garmin Fenix 6 Pro Solar features Power Glass™ solar charging, advanced
                                        training metrics, built-in maps, music storage, and smart features for everyday use. Whether you’re running, climbing,
                                        skiing, or just living actively — this rugged multisport GPS watch keeps up with you every step of the way.
                                   </p>
                              </div>
                         </div>
               </li>
               <li class="catalog-card item-hidden" tabindex="0">
                    <div class="catalog-card-inner">
                         <div class="catalog-card-front">
                              <picture class="catalog-picture">
                                   <source media="(min-width: 1280px)"
                                        srcset="/img/catalog/catalog_6_desk-min.png 1x, /img/catalog/catalog_6_desk@2x-min.png 2x" />
               
                                   <source media="(min-width: 768px)"
                                        srcset="/img/catalog/catalog_6_tab-min.png 1x, /img/catalog/catalog_6_tab@2x-min.png 2x" />
               
                                   <source media="(max-width:767px)"
                                        srcset="/img/catalog/catalog_6_mob-min.png 1x, /img/catalog/catalog_6_mob@2x-min.png 2x" />
               
                                   <img src="/img/catalog/catalog_6_desk-min.png" alt="Garmin Marq Athlete " width="304"
                                        class="catalog-img" />
                              </picture>
                              <div class="catalog-bottom">
                                   <h3 class="catalog-subtitle">Tube Watch S42 Date Steel With Black Case</h3>
                                   <p class="catalog-text">€395</p>
                              </div>
                         </div>
                         <div class="catalog-card-back">
                              <p class="catalog-description">
                                   Minimalist design, maximum impact. The Tube Watch S42 Date blends Dutch industrial design with timeless elegance.
                                   Featuring a stainless steel body, black case, and signature precision-machined dial, it’s a bold statement for those who
                                   appreciate modern style and mechanical simplicity.
                              </p>
                         </div>
                    </div>
               </li>
          </ul>
         
          <button type="button" class="catalog-button">Show more</button>
         
     </div>


</section>