<section class="section section-catalog" id="catalog">
     <div class="container">
          <h2 class="catalog-title title">Catalog</h2>
          <ul class="catalog-list">
               <li class="catalog-item">
                    <div class="catalog-picture">
                         <picture>
                              <source media="(min-width: 1280px)"
                              srcset="../img/catalog/catalog_1_desk-min.png 1x, ../img/catalog/catalog_1_desk@2x-min.png 2x"/>

                              <source media="min-width: 768px"
                              srcset="/..img/catalog/catalog_1_tab-min.png 1x, ../img/catalog/catalog_1_tab@2x-min.png 2x"/>

                              <source media="(max-width:767px)"
                              srcset="../img/catalog/catalog_1_mob.png 1x, ../img/catalog/catalog_1_mob@2x.png  2x"/>

                              <img src="../img/catalog/catalog_1_desk-min.png" alt="Garmin Fenix 7X Pro"
                              width="292"
                              height="292"
                              class="catalog-img" />
                         </picture>
                         <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
                         <p class="catalog-text">€500</p>
                    </div>
               </li>
               <li class="catalog-item">
                    <div class="catalog-picture">
                         <picture>
                              <source media="(min-width: 1280px)"
                              srcset="../img/catalog/catalog_2_desk-min.png 1x, ../img/catalog/catalog_2_desk@2x-min.png 2x"/>

                              <source media="(min-width: 768px)"
                              srcset="../img/catalog/catalog_2_tab-min.png 1x, ../img/catalog/catalog_2_tab@2x-min.png 2x"/>

                              <source media="(max-width:767px)"
                              srcset="../img/catalog/catalog_2_mob-min.png 1x, ../img/catalog/catalog_2_mob@2x-min.png 2x"/>

                              <img src="../img/catalog/catalog_2_desk-min.png" alt="Garmin Marq Athlete "
                              width="292"
                              height="292"
                              class="catalog-img" />
                         </picture>
                         <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
                         <p class="catalog-text">€450</p>
                    </div>
               </li>
               <li class="catalog-item">
                    <div class="catalog-picture">
                         <picture>
                              <source media="(min-width: 1280px)"
                              srcset="../img/catalog/catalog_3_desk-min.png 1x, ../img/catalog/catalog_3_desk@2x-min.png 2x"/>

                              <source media="(min-width: 768px)"
                              srcset="../img/catalog/catalog_3_tab-min.png 1x, ../img/catalog/catalog_3_tab@2x-min.png 2x"/>

                              <source media="(max-width:767px)"
                              srcset="../img/catalog/catalog_3_mob-min.png 1x, ../img/catalog/catalog_3_mob@2x-min.png 2x"/>

                              <img src="../img/catalog/catalog_3_desk-min.png" alt="Garmin Descent MK1"
                              width="292"
                              height="292"
                              class="catalog-img" />
                         </picture>
                         <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
                         <p class="catalog-text">€680</p>
                    </div>
               </li>
               <li class="catalog-item">
                    <div class="catalog-picture">
                         <picture>
                              <source media="(min-width: 1280px)"
                              srcset="../img/catalog/catalog_4_desk-min.png 1x, ../img/catalog/catalog_4_desk@2x-min.png 2x"/>

                              <source media="(min-width: 768px)"
                              srcset="../img/catalog/catalog_4_tab-min.png 1x, ../img/catalog/catalog_4_tab@2x-min.png 2x"/>

                              <source media="(max-width:767px)"
                              srcset="../img/catalog/catalog_4_mob-min.png 1x, ../img/catalog/catalog_4_mob@2x-min.png 2x"/>

                              <img src="../img/catalog/catalog_4_desk-min.png" alt="Garmin D2 Delta PX"
                              width="292"
                              height="292"
                              class="catalog-img" />
                         </picture>
                         <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
                         <p class="catalog-text">€380</p>
                    </div>
               </li>
               <li class="catalog-item item-hidden">
                    <div class="catalog-picture">
                         <picture>
                              <source media="(min-width: 1280px)"
                              srcset="../img/catalog/catalog_5_desk-min.png 1x, ../img/catalog/catalog_5_desk@2x-min.png 2x"/>

                              <source media="(min-width: 768px)"
                              srcset="../img/catalog/catalog_5_tab-min.png 1x, ../img/catalog/catalog_5_tab@2x-min.png 2x"/>

                              <source media="(max-width:767px)"
                              srcset="../img/catalog/catalog_5_mob-min.png 1x, ../img/catalog/catalog_5_mob@2x-min.png 2x"/>

                              <img src="../img/catalog/catalog_5_desk-min.png" alt="Garmin Fenix 6 Pro Solar"
                              width="292"
                              height="292"
                              class="catalog-img" />
                         </picture>
                         <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
                         <p class="catalog-text">€400</p>
                    </div>
               </li>
               <li class="catalog-item item-hidden">
                    <div class="catalog-picture">
                         <picture>
                              <source media="(min-width: 1280px)"
                              srcset="../img/catalog/catalog_6_desk-min.png 1x, ../img/catalog/catalog_6_desk@2x-min.png 2x"/>

                              <source media="(min-width: 768px)"
                              srcset="../img/catalog/catalog_6_tab-min.png 1x, ../img/catalog/catalog_6_tab@2x-min.png 2x"/>

                              <source media="(max-width:767px)"
                              srcset="../img/catalog/catalog_6_mob-min.png 1x, ../img/catalog/catalog_6_mob@2x-min.png 2x"/>

                              <img src="../img/catalog/catalog_6_desk-min.png" alt="Tube Watch S42 Date Steel With Black Case"
                              width="292"
                              height="292"
                              class="catalog-img" />
                         </picture>
                         <h3 class="catalog-subtitle">Tube Watch S42 Date Steel With Black Case</h3>
                         <p class="catalog-text">€395</p>
                    </div>
               </li>
          </ul>
          <button type="button" class="catalog-button">Show more</button>
     </div>


</section>