
<footer id="#site-footer" class="container">
    <div class="footer-box">

    <div class="logo-social-tel">
      <div class="logo-social-box">
        <a href="index.html" class="logo-footer" >watchcharm</a>
        
        <ul class="footer-social-list">
            <li class="social-item">
              <a
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                class="social-link"
              >
                <svg class="icon" height="18" width="18">
                  <use href="img/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                class="social-link"
              >
                <svg class="icon" height="18" width="18">
                  <use href="img/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            
            <li class="social-item">
              <a
                href=" https://www.youtube.com/c/GoIT"
                target="_blank"
                class="social-link"
              >
                <svg class="icon" height="18" width="18">
                  <use href="img/symbol-defs.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
        
          </ul>
      </div>
        
      <div class="tel-box">
      <a href="tel:+380684439426" class="tel">+380 (68) 443-94-26</a>   
      </div>

      <p class="footer-text">Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</p>

    </div>
    


    <div class="nav-address-box">
      <nav class="footer-nav">
          <ul class="nav-list">
             <li class="nav-list-item"><a href="#header" class="nav-link">Home</a></li>
             <li class="nav-list-item"><a href="#about-us" class="nav-link">About Us</a></li>
             <li class="nav-list-item"><a href="#catalog" class="nav-link">Catalog</a></li>
             <li class="nav-list-item"><a href="#sale" class="nav-link">Sale</a></li>
             <li class="nav-list-item"><a href="#reviews" class="nav-link">Reviews</a></li>
             <li class="nav-list-item"><a href="#contact-us" class="nav-link">Contact us</a></li>
          </ul>
      </nav>
      
      <address class="address-box">
        <a href="https://maps.app.goo.gl/JGNDn7kKdFoby5MP8" class="footer-address" target="_blank">1678 S. Pioneer Road Salt Lake City UT 84104</a>
      </address>
    </div>

    <div class="copyright-stuff-box">
      <p class="footer-copyright">&copy;2023 The Watch Spot. All rights reserved.</p>
      
      <ul class="footer-stuff">
          <li class="stuff"><a href="" class="stuff-link">Terms of Service</a></li>
          <li class="stuff"><a href="" class="stuff-link">Privacy policy</a></li>
      </ul>
    </div>
</div>
</footer>