<header class="header">
  <div class="container">
    <nav class="navig">
      <a class="logo">watchcharm</a>
      <ul class="head-list">
        <li class="head-item">
          <a class="head-link" href="">Home</a>
        </li>
        <li class="head-item">
          <a class="head-link" href="">About Us</a>
        </li>
        <li class="head-item">
          <a class="head-link" href="">Catalog</a>
        </li>
        <li class="head-item">
          <a class="head-link" href="">Sale</a>
        </li>
        <li class="head-item">
          <a class="head-link" href="">Reviews</a>
        </li>
        <li class="head-item">
          <a class="head-link" href="">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="head-soc-list">
      <li class="head-soc-item">
        <a class="head-soc-link" href="">
          <svg class="head-soc-icon" width="20" height="20">
            <use href="/img/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="head-soc-item">
        <a class="head-soc-link" href="">
          <svg class="head-soc-icon" width="20" height="20">
            <use href="/img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="head-soc-item">
        <a class="head-soc-link" href="">
          <svg class="head-soc-icon" width="20" height="20">
            <use href="/img/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="menu-btn" type="button">
      <svg class="menu-btn-icon" width="34" height="34">
        <use href="/img/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
