<section class="hero">
    <div class="container">
        <div class="main-container">
            <div class="hero-container">
                <h1 class="hero-title">Welcome to our <span class="hero-span">collection</span> of premium watches</h1>
                <p class="hero-subtitle">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to
                modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
            <div class="hero-group">
                <div class="hero-group-picture">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="/img/hero/desc1-min.jpg 1x, /img/hero/desc1@2x-min.jpg 2x" />
                        <source media="(min-width: 768px)" srcset="/img/hero/tab1-min.jpg 1x, /img/hero/tab1@2x-min.jpg 2x" />
                        <source media="(max-width: 767px)" srcset="/img/hero/mob1-min.jpg 1x, /img/hero/mob1@2x-min.jpg 2x" />
                        <img src="/img/hero/desc1-min.jpg" alt="blonde girl" width="44" height="44" class="hero-group-image img1" />
                    </picture><picture>
                        <source media="(min-width: 1280px)"
                            srcset="/img/hero/desc2-min.jpg 1x, /img/hero/desc2@2x-min.jpg 2x" />
                        <source media="(min-width: 768px)" srcset="/img/hero/tab2-min.jpg 1x, /img/hero/tab2@2x-min.jpg 2x" />
                        <source media="(max-width: 767px)" srcset="/img/hero/mob2-min.jpg 1x, /img/hero/mob2@2x-min.jpg 2x" />
                        <img src="/img/hero/desc2-min.jpg" alt="man with glasses" width="44" height="44" class="hero-group-image img2" />
                    </picture><picture>
                        <source media="(min-width: 1280px)"
                            srcset="/img/hero/desc3-min.jpg 1x, /img/hero/desc3@2x-min.jpg 2x" />
                        <source media="(min-width: 768px)" srcset="/img/hero/tab3-min.jpg 1x, /img/hero/tab3@2x-min.jpg 2x" />
                        <source media="(max-width: 767px)" srcset="/img/hero/mob3-min.jpg 1x, /img/hero/mob3@2x-min.jpg 2x" />
                        <img src="/img/hero/desc3-min.jpg" alt="dark blonde girl" width="44" height="44" class="hero-group-image img3" />
                    </picture>
                </div>
                <a href="#site-footer" class="hero-scroll-link">Scroll down</a>
            </div>
        </div>
        <div class="hero-main">
            <picture>
                <source media="(min-width: 1280px)" srcset="/img/hero/hero-desc-min.jpg 1x, /img/hero/hero-desc@2x-min.jpg 2x" />
                <source media="(min-width: 768px)" srcset="/img/hero/hero-tab-min.jpg 1x, /img/hero/hero-tab@2x-min.jpg 2x" />
                <source media="(max-width: 767px)" srcset="/img/hero/hero-mob-min.jpg 1x, /img/hero/hero-mob@2x-min.jpg 2x" />
                <img src="/img/hero/hero-desc-min.jpg" alt="wristwatch" width="355" height="366" class="hero-image" />
            </picture>
        </div>
    </div>
</section>