<div class="menu-overlay" data-menu>
    <div class="menu">
        <button class="menu-close-btn" type="button" data-menu-close>
            <svg class="menu-close-svg" width="34" height="34">
                <use href="/img/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <nav class="menu-nav-bar">
            <ul class="menu-list">
                <li class="menu-li">
                    <a href="#index.html" class="menu-point">Home</a>
                </li>
                <li class="menu-li">
                    <a href="#about-us" class="menu-point">About Us</a>
                </li>
                <li class="menu-li">
                    <a href="#catalog" class="menu-point">Catalog</a>
                </li>
                <li class="menu-li">
                    <a href="#sale" class="menu-point">Sale</a>
                </li>
                <li class="menu-li">
                    <a href="#reviews" class="menu-point">Reviews</a>
                </li>
                <li class="menu-li">
                    <a href="#contact-us" class="menu-point">Contact Us</a>
                </li>
            </ul>
        </nav>
        <ul class="menu-social-links">
            <li class="menu-social-li">
                <a href="https://www.facebook.com/goITclub/" class="menu-social-point" target="_blank">
                    <svg class="menu-social-svg" width="18" height="18">
                        <use href="/img/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="menu-social-li">
                <a href="https://www.instagram.com/goitclub/" class="menu-social-point" target="_blank">
                    <svg class="menu-social-svg" width="18" height="18">
                        <use href="/img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="menu-social-li">
                <a href="https://www.youtube.com/c/GoIT" class="menu-social-point" target="_blank">
                    <svg class="menu-social-svg" width="18" height="18">
                        <use href="/img/symbol-defs.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div> 
