<section class="sale">
    <div class="container">
        <h2 class="sale-title">Sale</h2>
        <div class="sale-box">
            <div class="sale-box-image">
           <ul class="sale-list">
            
            
            <li class="sale-item">
                <picture>
                    <source
                    media="(min-width: 1280px)" 
                    srcset="/img/sale/watch-1-min.png 1x, /img/sale/watch-1@2x-min.png 2x"/>
                    <source
                    media="(min-width: 768px)" 
                    srcset="/img/sale/watch-1-min.png 1x, /img/sale/watch-1@2x-min.png 2x"/>
                    <source
                    media="(max-width: 767px)" 
                    srcset="/img/sale/mob-1-min.png 1x, /img/sale/mob-1@2x-min.png 2x"/>
                    <img src="/img/sale/watch-1-min.png" alt="watch" class="sale-img-item">

                </picture>
                
            </li>

            <li class="sale-item">
                <picture>
                    <source
                    media="(min-width: 1280px)" 
                    srcset="/img/sale/watch-2-min.png 1x, /img/sale/watch-2@2x-min.png 2x"/>
                    <source
                    media="(min-width: 768px)" 
                    srcset="/img/sale/watch-2-min.png 1x, /img/sale/watch-2@2x-min.png 2x"/>
                    <source
                    media="(max-width: 767px)" 
                    srcset="/img/sale/mob-2-min.png 1x, /img/sale/mob-2@2x-min.png 2x"/>
                    <img src="/img/sale/watch-2-min.png" alt="watch" class="sale-img-item">

                </picture>
                
            </li>

            <li class="sale-item">
                <picture>
                <source
                media="(min-width: 1280px)" 
                srcset="/img/sale/watch-3-min.png 1x, /img/sale/watch-3@2x-min.png 2x"/>
                <source
                media="(min-width: 768px)" 
                srcset="/img/sale/watch-3-min.png 1x, /img/sale/watch-3@2x-min.png 2x"/>
                <source
                media="(max-width: 767px)" 
                srcset="/img/sale/mob-3-min.png 1x, /img/sale/mob-3@2x-min.png 2x"/>
                <img src="/img/sale/watch-3-min.png" alt="watch" class="sale-img-item">
            </picture>
                
            </li>

            <li class="sale-item">
                <picture>
                <source
                media="(min-width: 1280px)" 
                srcset="/img/sale/watch-4-min.png 1x, /img/sale/watch-4@2x-min.png 2x"/>
                <source
                media="(min-width: 768px)" 
                srcset="/img/sale/watch-4-min.png 1x, /img/sale/watch-4@2x-min.png 2x"/>
                <source
                media="(max-width: 767px)" 
                srcset="/img/sale/mob-4-min.png 1x, /img/sale/mob-4@2x-min.png 2x"/>
                <img src="/img/sale/watch-4-min.png" alt="watch" class="sale-img-item">
            </picture>
            </li>
            
           </ul>
           <div class="sale-main-img">
            <picture>
                <source
                media="(min-width: 1280px)" 
                srcset="/img/sale/watch-sale-min.png 1x, /img/sale/watch-sale@2x-min.png 2x"/>
                <source
                media="(min-width: 768px)" 
                srcset="/img/sale/watch-sale-min.png 1x, /img/sale/watch-sale@2x-min.png 2x"/>
                <source
                media="(max-width: 767px)" 
                srcset="/img/sale/mob-mein-min.png /img/sale/mob-mein@2x-min.png"/>
                <img srcset="" src="/img/sale/watch-sale-min.png" alt="watch" class="sale-main-img-item">
            </picture>
            
           </div>
        </div>

           <div class="sale-info">
        
            <h2 class="info-title">MARQ&#174; Commander (Gen 2) - Carbon Edition</h2>
            <p class="sale-product-tag">Product tag: 706587</p>
        
           
        <p class="sale-price">
            <span class="sale-price-old">€1500 </span>
            <span class="sale-price-discont">€3000</span>
        </p>
            
        
            <p class="sale-description">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions. </p>
            
                <ul class="sale-info-list">
                    <li class="sale-info-item">Fused carbon fiber</li>
                    <li class="sale-info-item">Grade-5 Titanuim</li>
                    <li class="sale-info-item">Athlete</li>
                    <li class="sale-info-item">Golfer</li>
                    <li class="sale-info-item">Commander</li>
                    <li class="sale-info-item">Adventurer</li>

                </ul>


            
           
        </div>
    </div>
    </div>
</section>