<section class="sale">
    <div class="container-sale">
        <h2 class="sale-title">Sale</h2>
        <div class="sale-img-container">
           <ul class="sale-list">
            
            
            <li class="sale-item">
                <img srcset="/img/sale/watch-1-min.png 1x, /img/sale/watch-1@2x-min.png 2x" src="/img/sale/watch-1-min.png" alt="watch" class="sale-img-item">
            </li>

            <li class="sale-item">
                <img srcset="/img/sale/watch-2-min.png 1x, /img/sale/watch-2@2x-min.png 2x" src="/img/sale/watch-2-min.png" alt="watch" class="sale-img-item">
            </li>

            <li class="sale-item">
                <img srcset="/img/sale/watch-3-min.png 1x, /img/sale/watch-3@2x-min.png 2x" src="/img/sale/watch-3-min.png" alt="watch" class="sale-img-item">
            </li>

            <li class="sale-item">
                <img srcset="/img/sale/watch-4-min.png 1x, /img/sale/watch-4@2x-min.png 2x" src="/img/sale/watch-4-min.png" alt="watch" class="sale-img-item">
            </li>
            
           </ul>
           <div class="sale-main-img">
            <img srcset="/img/sale/watch-sale-min.png 1x, /img/sale/watch-sale@2x-min.png 2x" src="/img/sale/watch-sale-min.png" alt="watch" class="sale-main-img-item">
           </div>
        </div>

           <div class="sale-info">
           <div class="container-info-title">
            <h2 class="info-title">MARQ® Commander (Gen 2) - Carbon Edition</h2>
            <p class="sale-product-tag">Product tag: 706587</p>
        
           <div class="container-sale-price">
        <p class="sale-price">€1500 </p>
            <del class="sale-price-old">€3000</del>
        </div> 
            <p class="sale-description">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions. </p>
            <div class="sale-info-container">
                <ul class="sale-info-list">
                    <li class="sale-info-item">Fused carbon fiber</li>
                    <li class="sale-info-item">Grade-5 Titanuim</li>
                    <li class="sale-info-item">Athlete</li>
                    <li class="sale-info-item">Golfer</li>
                    <li class="sale-info-item">Commander</li>
                    <li class="sale-info-item">Adventurer</li>

                </ul>


            </div>
           </div>
        </div>
    </div>
</section>