.choose-section .container {
    padding-top: 60px;
}

@media only screen and (min-width: 768px) {
    .choose-section .container {
        padding-top: 80px;
    }
}

        @media only screen and (min-width: 1280px) {
            .choose-section .container {
                padding-top: 100px;
            }
        }


.choose {
    width: 100%;
    background-color: #0c0c0c;
    background-image: url(/img/advertisement/advertisement-bcgr-mob.png);
    padding: 60px 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

@media screen and (min-resolution: 2x) {
    .choose {
    background-image: url(/img/advertisement/advertisement-bcgr-mob-2x.png);
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.choose-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.choose-text-change {
    color: rgba(251, 251, 251, 0.5);
}

.choose-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    background-color: transparent;
    margin-top: 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.choose-btn:hover, 
.choose-btn:focus {
    background-color: #fbfbfb;
    color: #0c0c0c;
}

@media only screen and (min-width: 768px) {
    .choose {
    padding: 80px 64px;
    background-image: url(/img/advertisement/advertisement-bcgr-tab.png);
    }

    @media screen and (min-resolution: 2x) {
        .choose {
            background-image: url(/img/advertisement/advertisement-bcgr-tab-2x.png);
        }
    }

    .choose-text {
        font-size: 48px;
        line-height: 0.92;
    }

    .choose-btn {
        margin-top: 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .choose {
        padding: 83px 80px;
        display: flex;
        align-items: baseline;
        justify-content: center;
        background-image: url(/img/advertisement/advertisement-bcgr-desk.png);
    }

    @media screen and (min-resolution: 2x) {
        .choose {
            background-image: url(/img/advertisement/advertisement-bcgr-desk-2x.png);
        }
    }

    .choose-text {
        width: 690px;
        margin-right: 140px;
    }
    
    .choose-btn {
        margin-top: 0;
        padding: 0;
    }
}