*,
*::before,
*::after {
  box-sizing: border-box;
}

.header .container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.navig {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  cursor: pointer;

  padding: 28px 0;
}

.head-list {
  display: none;
}

.head-soc-list {
  display: none;
}

.menu-btn {
  display: block;
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding: 28px 0;
}
.menu-btn-icon {
  width: 34px;
  height: 34px;
  stroke: #0c0c0c;
}

@media only screen and (min-width: 768px) {
  .logo {
    font-size: 20px;
    padding: 34px 0;
  }
  .menu-btn {
    padding: 34px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .header .container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 203px;
    padding: 32px 0;
  }

  .head-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .head-item {
    position: relative;
  }

  .head-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;

    padding: 32px 0;
    display: inline-block;
  }

  .head-item::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;

    width: 8px;
    height: 8px;
    background-color: blue;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .head-item:hover::after {
    opacity: 1;
    transform: translateY(-50%);
  }

  .head-soc-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }

  .head-soc-item {
  }

  .head-soc-link {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    background-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .head-soc-icon {
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .head-soc-link:hover .head-soc-icon,
  .head-soc-link:focus .head-soc-icon {
    fill: #3350e9;
  }

  .head-soc-link:hover,
  .head-soc-link:focus {
    border: 1px solid rgba(51, 80, 233, 0.1);
  }

  .menu-btn {
    display: none;
  }
}
